* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.title {
    color: violet;
    margin-left: 550px;
    margin-top: 40px;
    margin-right: auto;

}

.paragrafo {
    margin-top: 40px;
    margin-left: 60px;
    color: black;
    margin-right: auto;
}


.quadratino {
    background-color: rgb(7, 7, 15);
    width: 300px;
    height: 90px;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #dedede;
}


img {
    float: left;
    width: 80px;
    height: 90px;
}

p,
h1 {
    color: aliceblue;
    margin-left: 90px;
}

span {

    color: cornflowerblue;
    margin-bottom: 200px;
}

.clearbox {
    content: '';
    display: table;
    float: both;

}

.team1 {
    margin-left: 200px;
    float: left;
}

.team2 {
    margin-left: 10px;
    float: left;
}

.team3 {
    margin-left: 10px;
    float: left;
}

.team4 {
    margin-left: 200px;
    float: left;
}

.team5 {
    margin-left: 10px;
    float: left;
}


.team6 {
    margin-left: 10px;
    float: left;
}